# Ignore Texts (not original work)
Andres\ Notes/
Textbook/

# Ignore Bibtex files
*.bib
Bitex/

# Ignore Week 1 (Contained in week2.tex)
Week\ 1/

# Ignore build files 
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

# Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Ignore vimfiles
*.vimrc
*.nvimrc

# Ignore .DS_Store
.DS_Store
